<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                            <h5>welcome to <strong>MyShare.</strong></h5>
                    </div>
                </div>
                <div class="card-body">
                    <p>where you can track your roommates expenses and share of each member.</p>
                </div>
            </div>
        </div>
    </div>
</div>