<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/expenses">My Expenses</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Add</li>
  </ol>
</nav>
<div class="main-content">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="expensesForm" (ngSubmit)="onSubmit()">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">add new expenses details</h3>
          </div>
          <div class="card-content">
            <div class="form-group row">
              <label class="col-form-label col-md-1"> Group </label>
              <div class="col-md-6">
                <select formControlName="ddlGroups" class="form-control">
                  <option *ngFor="let group of model.groups" [value]="group.id">{{group.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-md-1"> Amount </label>
              <div class="col-md-6">
                <input type="number" row="5" class="form-control" formControlName="txtAmount" placeholder="amount" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-md-1"> details </label>
              <div class="col-md-6">
                <textarea row="5" class="form-control" formControlName="txtDetails" placeholder="details"></textarea>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!expensesForm.valid">Add Expeneses</button>
            <div style="margin-top:10px;">
              <a (click)="onCancel()">Cancel</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>