<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">My Invitations</li>
  </ol>
</nav>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning text-center" *ngIf="model.invitations.length == 0">
        You don't have pending invitations
      </div>
      <div class="card" *ngFor="let invitation of model.invitations">
        <div class="card-header">
          <a (click)="onGroupDetails(invitation.groupName,invitation.groupId)">
            <h5 class="card-title">
              {{invitation.groupName}}</h5>
          </a>

        </div>
        <div class="card-body">
          <div class="text-right">
            <button (click)="onAccept(invitation.id,invitation.groupId);" class="card-link btn btn-link">
              <svg viewBox="0 0 8 8" style="width:15px;">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check">
                  <path d="M6.406 1l-.719.688-2.781 2.781-.781-.781-.719-.688-1.406 1.406.688.719 1.5 1.5.719.688.719-.688 3.5-3.5.688-.719-1.406-1.406z"
                    id="check"></path>
                </use>
              </svg>
              Accept</button>
            <button (click)="onReject(invitation.id);" class="card-link btn btn-link">
              <svg viewBox="0 0 8 8" style="width:15px;">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x">
                  <path d="M1.406 0l-1.406 1.406.688.719 1.781 1.781-1.781 1.781-.688.719 1.406 1.406.719-.688 1.781-1.781 1.781 1.781.719.688 1.406-1.406-.688-.719-1.781-1.781 1.781-1.781.688-.719-1.406-1.406-.719.688-1.781 1.781-1.781-1.781-.719-.688z"
                    id="x"></path>
                </use>
              </svg>
              Reject</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>